@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br/>
    <br />
    <h1>Seja bem-vindo!</h1>
    <br />
    <br />
    <br />
    <h4>Sinta-se à vontade para explorar nosso sistema de gerenciamento de usuários e usufruir de todas as suas funcionalidades!</h4>
    <br />
    <br />
    <br />
    <h5>Esse sistema foi criado para pessoas com alto nível de usuários e necessitam fazer o controle de todos.</h5>
</div>
