@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-3">Seja bem-vindo!</h1>
    <br />
    <h2 class="display-6">Fique a vontde para uzufruir do nosso controlador de usuários</h2>
    <br />
    <br />
    <p >Esse sistema foi criado para pessoas com alto nível de usuários e necessitam fazer o controle de todos.</p>
</div>
